<div class="row">
  <div class="text-center small-12 columns">
    <h1>Mark Fletcher</h1>
  </div>
</div>

<div class="row">
  <div class="text-center large-12 columns contact-info">
    <p id="contact">
      mook.fletcher@gmail.com ◆ linkedin.com/in/mkfletch ◆ github.com/fletch-mkii
    </p>
  </div>
</div>

<div class="row linkrow">
  <div class="infolink text-center medium-4 columns">
    <%= link_to "Education", new_home_path %>
  </div>
  <div class="infolink text-center medium-4 columns">
    <%= link_to "Skills", new_home_path %>
  </div>
  <div class="infolink text-center medium-4 columns end">
    <%= link_to "Interests", new_home_path %>
  </div>
</div>

<div class="row">
  <div class="small-10 columns small-offset-1 bio">
    <p>
    <%paragrapherino = ""%>
    <%200.times do%>
      <% paragrapherino += "para graph erino "%>
    <%end%>
    <%=paragrapherino[0..-2]%>
    </p>
  </div>
</div>
