a.name-title {
  font-size: 3.5rem;
}

.linkrow {
  padding-left: 5rem;
  padding-right: 5rem;
}

.infolink {
  font-size: 1.3rem;
  border: .2rem solid;
  padding: .5rem;

  &:hover {
    background-color: rgba(50, 0, 200, 0.6);
  }
}

.selected {
  background-color: rgba(50, 0, 200, 0.6);
}

.info {
  padding-right:4rem;
  padding-left:4rem;
  display:none;
}

.bio {
  padding-right:4rem;
  padding-left:4rem;
}

.inlaid-pix {
  //placeholder for pictures injected into paragraphs.
}
